.tabs .indicator {
    background-color: white;
}

body {
    background-color: #F2F2F2;
}

#categoria{
float:left;
}

.titulo	{
    font-size: 1.3rem;
    margin-left: 5%;
    margin-right:	auto;
}
#mapa{
    width: 100%;
    height: 100%;
}
#map{
    width: 100%;
    height: 100%;
}

.btn-mapa{
 display: inline-block;
 display: block;
    /*width: 128px;*/
    position: absolute;
    bottom: 4px;
    right: 8px;
    text-align: right;
    /*z-index: 999;*/
}